/* Mobile */
@media only screen and (min-width: 0px) {
  .todoForm {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    background-color: var(--gray-50);
    border-radius: 0.5rem;
    padding: 1rem;

    .todoInput {
      background-color: var(--gray-50);
      width: 100%;
      max-width: 500px;
      /* padding: 0.75rem 1rem; */
      font-size: 1rem;
      border: 1px solid var(--border-color);
      border-radius: 4px;
      outline: none;
      transition: border-color 0.2s ease;

      &:focus {
        caret-color: var(--primary-blue);
      }

      &:focus::placeholder {
        color: transparent;
      }
    }
  }
}

/* Dark mode */
@media only screen and (min-width: 0px) {
  :global([data-theme='dark']) {
    .todoForm {
      background-color: var(--navy-900);

      .todoInput {
        background-color: var(--navy-900);
        color: var(--text-color);
        border-color: var(--purple-800);
        caret-color: var(--primary-blue);
      }
    }
  }
}
