/* Global variables */

/* Default light theme */
:root {
  /* --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: #f5f5f5;
  --bg-image-m: url('../public/images/bg-mobile-light.jpg');
  --bg-image-d: url('../public/images/bg-desktop-light.jpg'); */
  
  /* Primary colors */
  --primary-blue: hsl(220, 98%, 61%);
  --check-bg: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  
  /* Light theme colors */
  --gray-50: hsl(0, 0%, 98%);
  --purple-300: hsl(234, 39%, 85%);
  --gray-300: hsl(233, 11%, 84%);
  --gray-600: hsl(236, 9%, 61%);
  --navy-850: hsl(235, 19%, 35%);

  /* Dark theme colors */
  --navy-950: hsl(235, 21%, 11%);
  --navy-900: hsl(235, 24%, 19%);
  --purple-300: hsl(234, 39%, 85%);
  --purple-100: hsl(236, 33%, 92%); /* hover color */
  --purple-600: hsl(235, 16%, 43%);
  --purple-700: hsl(233, 14%, 35%);
  --purple-800: hsl(237, 14%, 26%);
  --gray-600: hsl(236, 9%, 61%);
}

/* Light theme */
[data-theme='light'] {
  /* --bg-color: #ffffff; */
  --text-color: #000000;
  /* --header-bg: #f5f5f5; */
  --bg-image-m: url('images/bg-mobile-light.jpg');
  --bg-image-d: url('images/bg-desktop-light.jpg');

  /* --gray-50: hsl(0, 0%, 98%);
  --purple-300: hsl(234, 39%, 85%);
  --gray-300: hsl(233, 11%, 84%);
  --gray-600: hsl(236, 9%, 61%);
  --navy-850: hsl(235, 19%, 35%); */
}

/* Dark theme */
[data-theme='dark'] {
  /* --bg-color: #1a1a1a; */
  /* --text-color: #ffffff; */
  /* --header-bg: #2d2d2d; */
  --bg-image-m: url('images/bg-mobile-dark.jpg');
  --bg-image-d: url('images/bg-desktop-dark.jpg');

  /* --navy-950: hsl(235, 21%, 11%);
  --navy-900: hsl(235, 24%, 19%);
  --purple-300: hsl(234, 39%, 85%);
  --purple-100-hover: hsl(236, 33%, 92%);
  --purple-600: hsl(235, 16%, 43%);
  --purple-700: hsl(233, 14%, 35%);
  --purple-800: hsl(237, 14%, 26%);
  --gray-600: hsl(236, 9%, 61%); */
}

/* Reset */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* Background image */
  background-image: var(--bg-image-m);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 33vh;
  height: 100vh;
  width: 100%;
  /* background-color: #fff; */
  /* background-color: var(--bg-color); */
  background-color: var(--gray-50);
  color: var(--navy-850);

  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol {
  list-style: none;
}

#root, #__next {
  isolation: isolate;
}

#root {
  max-width: 650px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  body {
    background-size: 100% 24vh;
    background-image: var(--bg-image-d);
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  body {
    background-size: 100% 40vh;
  }
}

/* Dark mode */
@media only screen and (min-width: 0px) {
  [data-theme='dark'] {
    body {
      background-image: var(--bg-image-d);
      background-color: var(--navy-950);
      color: var(--purple-300);
    }
  }
}
